body {
    background-image: url('images/bg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-items {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.navbar-items li {
    display: inline-block;
    margin: 0 20px;
    color: white;
}


.register {
    height: auto;
    width: 70px;
    background-color:rgba(255, 196, 0, 0.788);
}

.faq p{
    color: black;
    background-color: antiquewhite;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-radius: 2rem;
    width: 61rem;
}